@charset "UTF-8";
.post_wrap {
	width: 860px;
	margin: 0 auto;
	margin-top: 50px;
	/* text-align: center; */
	text-align: left;
}
.post_wrap>img{
	width: 100%;
    object-fit: cover;
    margin: 40px 0;
}
.post-top h1{
	font-size: 1.8rem;
	color: #e8e8ea;
	font-weight: 600;
}
.post-top span{
	display: inline-block;
	margin: 5px 0;
	font-size: 1.1rem;
}
.post-top a{
	opacity: 0.5;
}
.percent{
	margin-top: 10px;
}
.percent p span{
	color: #e8e8ea;
	text-decoration: underline;
}
.text {
    /* text-align :justify; */
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-top: 15px;
    margin-bottom: 50px;
}